#accueil {
    min-width: 375px;
    max-width: 767px;
    margin: 0%;
}
* { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif , sans-serif;
}
h1 h2 {
    font-family: Shrikhand;
}
h2 {
    font-size: 22px;
    font-weight: 600;
}
h3 {
    font-size: 16px;
    font-weight: 500;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#logo {
    width: 50%;
}
#search_localisation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 60px;
}
#search_localisation form {
    display: flex;
    justify-content: center;
    background-color: #e8e5e5;
    flex-basis: 100%;
}
#div_localisation {
    display: flex;
    align-items: center;
    padding-left: 60px;
}
#search_localisation input {
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding-left: 20px;
}
#presentation h1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin: 20px 45px 0px 45px;
}
#presentation p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin: 10px;
}
#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2; 
}
#presentation form {
    height: 120px;
    display: flex;
    align-items: center;
}
#button_search {
    padding: 20px;
    border-radius: 40px; 
    background-color: #FF79DA;
    border :none;
    color : white;
    font-size: 18px;
}

#fonctionnement h2 {
    margin : 50px 0 40px 20px;
}
.stapes_fonctionnement {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-radius: 25px; 
    padding: 15px 0 15px 10px;
    margin: 0 20px 20px 30px;
    box-shadow: 3px 1px 6px 1px #0000002e;
    background-color: #F2F2F2; 
    border: none;
}
.stapes_fonctionnement i {
    color: #5b5959;
}
.numero_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    background-color: #9356DC;
    padding: 5px;
    position: relative;
    left : -20px;
}
.stapes_fonctionnement i {
    margin-right: 20px;
}
#restaurants {
    padding: 30px 20px 20px 20px;
    background-color: #F2F2F2; 
}
#blocs_restaurant {
    flex-wrap: wrap;
}
.cards_restaurant {
    flex-basis: 100%;
    height: 220px;
    background-color: #FFFFFF;
    box-shadow: 3px 1px 6px 1px #0000002e;
    border-radius: 20px;
    margin-bottom: 20px;
}
.cards_restaurant h3,
.cards_restaurant p {
    color: black;
    margin: 0 0 6px 0;
}
.cards_restaurant h3 {
    font-weight: 600;
}
.cards_restaurant p {
    font-weight: 200;
}
main a {
    text-decoration: none;
}
.imgrestaurant {
    width: 100%;
    height: 150px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text_cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 16px 0 16px;
}
main i {
    font-size: 27px;
    color: rgb(228, 163, 210);
    border-color: rgb(67, 154, 77);
}
footer {
    color: white;
    background-color: #343434f4;
    padding: 20px 0 20px 25px;
}
#logo_footer {
    width: 30%;
}
footer ul {
    padding-left: 0%;
}
footer ul li {
    list-style: none;
    padding-bottom: 10px;
}
footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
footer h2 {
    font-family: Shrikhand;
    font-size: 14px;
    margin: 0%;
}
footer i {
    margin-right: 10px;
    font-size: 14px;
}


/* ________ Media Queries Desktop ________ */

@media screen and (min-width: 992px) and (max-width: 1400px)
{
    #container {
        margin: auto;
        padding-left: 54px; 
        padding-right: 54px;
        max-width: 1400px;
        min-width: 992px;
    }
    #blocs_restaurant {
        display: flex;
        flex-wrap: wrap;
    }
}


/* ________ Media Queries Tablette ________ */

@media screen and (min-width: 768px) and (max-width: 991px)
{
    #container {
        padding-left: 70px;
        padding-right: 72px;
        max-width: 991px;
        min-width: 768px;
    }
    #blocs_restaurant {
        display: flex;
        flex-wrap: wrap;
    }
}

